---
apiVersion: hive.openshift.io/v1
kind: MachinePool
metadata:
  name: {{ clustername }}-worker
  namespace: {{ clustername }}
spec:
  name: worker
  labels:
    node-role.kubernetes.io/worker: ''
  clusterDeploymentRef:
    name: {{ clustername }}
  platform:
    vsphere:
      cpus: {{ vs_worker_cpus }}
      coresPerSocket: {{ vs_cores }}
      memoryMB: {{ vs_worker_mem }}
      osDisk:
        diskSizeGB: {{ vs_worker_disksize }}
  replicas: {{ vs_workers }}
