---
apiVersion: v1
baseDomain: {{ basedomain }}
compute:
- name: worker
  architecture: amd64
  hyperthreading: Enabled
  platform:
    vsphere:
      cpus: {{ vs_worker_cpus }}
      coresPerSocket: {{ vs_cores }}
      memoryMB: {{ vs_worker_mem }}
      osDisk:
        diskSizeGB: {{ vs_worker_disksize }}
  replicas: {{ vs_workers }}
controlPlane:
  name: master
  architecture: amd64
  hyperthreading: Enabled
  platform:
    vsphere:
      cpus: {{ vs_cp_cpus }}
      coresPerSocket: {{ vs_cores }}
      memoryMB: {{ vs_cp_mem }}
      osDisk:
        diskSizeGB: {{ vs_cp_disksize }}
  replicas: 3
metadata:
  creationTimestamp: null
  name: {{ clustername }}
networking:
  clusterNetwork:
  - cidr: {{ clustercidr }}
    hostPrefix: 23
  machineNetwork:
{% for cidr in vs_machinecidr %}
  - cidr: {{ cidr }}
{% endfor %}
  networkType: OVNKubernetes
  serviceNetwork:
  - {{ servicecidr }}
platform:
  vsphere:
    vcenter: {{ vs_vcenter }}
    datacenter: {{ vs_datacenter }} 
    username: {{ vs_user }}
    password: {{ vs_password }}
{% if vs_folder is defined and vs_folder != 'None' %}
    folder: {{ vs_folder }}
{% endif %}
    diskType: {{ vs_diskType }}
    network: {{ vs_network }}
    cluster: /{{ vs_datacenter }}/host/{{ vs_cluster }}
    defaultDatastore: /{{ vs_datacenter }}/datastore/{{ vs_datastore }} 
    apiVIP: {{ vs_apiVIP }}
    ingressVIP: {{ vs_ingressVIP }}
publish: External
pullSecret: < pull secret string >
{% if ssh_public_key is defined %}
sshKey: {{ ssh_public_key }}
{% endif %}
fips: {{ fips | default('false') }}
{% if trustBundle is defined %}
additionalTrustBundle: |-
{% filter indent(width=2) %}
  {{ trustBundle }}
{% endfilter %}
{% endif %}
